
dj-database-url==2.1.0
Django==5.0.6
django-appconf==1.0.6
django-celery-beat==2.7.0
django-cleanup==8.1.0
django-cors-headers==4.4.0
django-crispy-forms==1.9.2
django-environ==0.11.2
django-extensions==3.2.3
django-filter==24.3
django-multiselectfield==0.1.13
django-staticfiles==1.2.1
django-storages==1.14.4
django-timezone-field==7.1
django-widget-tweaks==1.5.0
djangorestframework==3.15.2
docker==7.1.0
EasyProcess==1.1

entrypoint2==1.1
et_xmlfile==2.0.0
filelock==3.7.1
firebase-admin==6.6.0
Flask==2.1.2
flatbuffers==24.3.25
fonttools==4.55.3
fpdf==1.7.2
fsspec==2024.12.0

gTTS==2.2.4
gunicorn==20.1.0
httplib2==0.22.0
huggingface-hub==0.27.1
humanfriendly==10.0
hyperlink==21.0.0

onnxruntime==1.20.1
openpyxl==3.1.5
packaging==23.2
pandas==2.2.3
pathy==0.10.2
pillow==10.4.0
platformdirs==2.5.2

premailer==3.10.0
preshed==3.0.9
prompt_toolkit==3.0.50
proto-plus==1.25.0
protobuf==5.29.1
psycopg==3.1.9
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAutoGUI==0.9.54
pycodestyle==2.11.1
pycparser==2.22
pydantic==2.4.2
pydantic_core==2.10.1
pygame==2.5.2
PyGetWindow==0.0.9
pyjokes==0.6.0
PyJWT==2.10.1
PyMsgBox==1.0.9
pyOpenSSL==25.0.0
pyparsing==3.2.0
pyperclip==1.8.2

pyreadline3==3.5.4
PyRect==0.2.0
pyscreenshot==3.1
PyScreeze==0.1.29
pyt==1.0.5
python-crontab==3.2.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-docx==1.1.2
python-dotenv==1.0.0
pyttsx3==2.90
pytweening==1.0.7
pytz==2023.3.post1
pywhatkit==5.4

PyYAML==6.0.2
redis==5.2.1
regex==2024.11.6
reportlab==4.2.5
requests==2.28.1
rsa==4.9
s3transfer==0.10.4
safetensors==0.5.2
service-identity==24.2.0
six==1.16.0
smart-open==6.4.0
soupsieve==2.5

sqlparse==0.5.0
srsly==2.4.8
stripe==11.3.0
sympy==1.13.1
thinc==8.2.1
tokenizers==0.21.0
tomli==2.0.1
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tqdm==4.66.1

weasel==0.3.2
Werkzeug==2.1.2
whitenoise==6.6.0
